<h1><%= @list.name %></h1>

<%= link_to "see all movie lists", lists_path, class: 'btn btn-primary' %>
<%= link_to "add a movie to this list", new_list_bookmark_path(@list), class: 'btn btn-primary' %>
<%= link_to "delete this list", list_path(@list), class: "btn btn-primary", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>

<ul>
  <% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <li>
      <%= image_tag(movie.poster_url) %>
      <%= movie.title %>
      <%= movie.overview %>
      <%= movie.rating %>
      <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
    </li>
  <% end %>
</ul>
